#{extends 'main.html' /}

#{set 'title'}${currentImport.originalFileName} import : logs#{/set}

<div class="separated">
  <div class="main">
    #{if currentImport.logs?.size() > 0}
    <table>
      <caption>
        <input type="search" placeholder="Recherche" results="5" size="35" />
        <ul>
          <li>Classer par</li>
          <li><a href="#ww">Type</a></li>
          <li><a class="active" href="#ww">Date</a></li>
        </ul>
      </caption>
      <thead>
        <tr>
          <th class="message">Message</th>
          <th class="type">Type</th>
          <th class="date">Date</th>
        </tr>
      </thead>
      <tbody>
        #{list items:currentImport.logs, as:'log'}
        <tr>
          <td class="message">${log.message}</td>
          <td class="type">${log.error}</td>
          <td class="date">${log.logDate.format("HH:mm dd/MM/yyyy")}</td>
        </tr>
        #{/list}
      </tbody>
    </table>
    #{/if}
    #{else}
    <p class="info">
      There is no log.
    </p>
    #{/else}
  </div>
  <div class="side">
  </div>
</div>
