<div id="container">
  <div id="header">
    <div class="left">
      #{include 'qazual/top-left.html' /}
    </div>
    <!--div class="right">
      #{include 'qazual/top-right.html' /}
    </div-->
  </div>
  <div id="navigation">
    <div class="left">
      #{include 'qazual/navigation-left.html' /}
    </div>
    <!--div class="right">
      #{include 'qazual/navigation-right.html' /}
    </div-->
  </div>
  <div id="title">
    <div class="left">
      #{include 'qazual/title-left.html' /}
    </div>
    <!--ddiv class="right">
      #{include 'qazual/title-right.html' /}
    </div-->
  </div>
  <div id="wrapper">
    #{doLayout /}
  </div>
</div>
