#{extends 'ServiceTests/layout.html' /}

#{fixture delete:'all', load:'data_functionnal_tests.yml' /}

#{set 'moreScripts'}
<script type="text/javascript">

var action_createWay = #{jsAction @WayServices.create(':referentialCode') /}
var action_readWay = #{jsAction @WayServices.read(':referentialCode',':wayId') /}
var action_updateWay = #{jsAction @WayServices.update(':referentialCode',':wayId') /}
var action_deleteWay = #{jsAction @WayServices.delete(':referentialCode',':wayId') /}

var createWay = function(referential, data) {
  $.ajax({
    type: "post",
    url: action_createWay({referentialCode: referential.code}) + "?token=" + referential.token,
    data: data,
    dataType: "json",
    success: function(data) {
      id = data;
    },
    async: false
  });
  return id;
};

var readWay = function(referential, id) {
  var result = null;
  $.ajax({
    type: "get",
    url: action_readWay({referentialCode: referential.code, wayId: id}) + "?token=" + referential.token,
    dataType: "json",
    success: function(data) {
      result = data;
    },
    async: false
  });
  return result;
};

var updateWay = function(referential, id, data) {
  var state = false;
  $.ajax({
    type: "put",
    url: action_updateWay({referentialCode: referential.code, wayId: id}) + "?token=" + referential.token,
    data: data,
    dataType: "json",
    success: function() {
      state = true;
    },
    async: false
  });
  return state;
};

var deleteWay = function(referential, id) {
  var state = false;
  $.ajax({
    type: "delete",
    url: action_deleteWay({referentialCode: referential.code, wayId: id}) + "?token=" + referential.token,
    dataType: "json",
    success: function() {
      state = true;
    },
    async: false
  });
  return state;
};

var way_sample = {
  "way.cityInseeCode": "94059",
  "way.name": "AVENUE ARDOUIN",
  "way.matriculation": "12341234"
};

var TESTHEX = {
  code: "TESTHEX",
  token: "0123456789ABCDEF"
};

var TESTRIVOLI = {
  code: "TESTRIVOLI",
  token: "ABCDEF0123456789"
};

$().ready(function() {

  test("To create a Way", function() {
    var way = createWay(TESTHEX, way_sample);
    ok(way != null, "to create way");
    var result = readWay(TESTHEX, way.id);
    equals(way.name, result.name, "way well created");
  });

  test("To update a Way name", function() {
    var newName = "AVENUE SUPER ARDOUIN";
    var way_modified = way_sample;
    way_modified["way.name"] = newName;
    var way = createWay(TESTHEX, way_sample);
    ok(way.id != null, "to create way");
    var updated = updateWay(TESTHEX, way.id, way_modified);
    ok(updated, "to update way");
    var wayUpdated = readWay(TESTHEX, way.id);
    ok(way_sample.name != wayUpdated.name, "name of old way and updated way are different");
    equals(newName, wayUpdated.name, "name of updated way is OK")
  });

  test("To delete a Way", function() {
    var way = createWay(TESTHEX, way_sample);
    ok(way.id != null, "to create way");
    var result = readWay(TESTHEX, way.id);
    equals(way.name, result.name, "Way well created");
    var deleted = deleteWay(TESTHEX, way.id);
    ok(deleted, "way well deleted");
    var result2 = readWay(TESTHEX, way.id);
    ok(!result2, "verification");
  });

  test("To create a way with Rivoli code", function() {
    var way = createWay(TESTRIVOLI, way_sample);
    ok(way != null, "to create way");
    var result = readWay(TESTHEX, way.id);
    ok(!result, "way well created");
    result = readWay(TESTRIVOLI, way.id);
    ok(result, "way well created");
  });
});
</script>
#{/set}
